.container{
    width: 100%;
    height: 8vh;
    background: var(--black-light);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    }
    .container-box{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    }
    #switch, #house, #menu{
        width: 80%;
    }
    #house{
        justify-content: center;
        
    }
    .switch{
        justify-content: left;
        margin: 4%
    }
    .menu{
        justify-content: right;
        margin: 4%
    }
    .container-box button{
        background: none;
        border: none;
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: row;
        display: flex;
        align-items: center;
    }
    