<div class="container">
    <button class="container-box">
        <img src="assets/icons/video.png"> <h2>Audiovisuais</h2>
    </button>
    <button class="container-box">
        <img src="assets/icons/treasure-map.png"><h2>Cartograficos</h2>
    </button>
    <button class="container-box" (click)="entrar()">
        <img src="assets/icons/picture.png"><h2>Iconograficos</h2>
    </button>
    <button class="container-box">
        <img src="assets/icons/listening.png">  <h2>Sonoros</h2>
    </button>
    <button class="container-box">
        <img src="assets/icons/paper.png"> <h2>Textuais</h2>
    </button>
</div>